.promoBar {
  background-color: #f5f1e9;
  color: #2e1f1e;
  text-align: center;
  padding: 4px;
  font-size: 1rem;
  position: fixed;
  top: 0;
  height: 4.1dvh;
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textContainer {
  margin: auto;
}
.promoBar a {
  color: #cd1b1bcc;
  text-decoration: underline;
}
@media (max-width: 700px) {
  .promoBar {
    font-size: 0.8rem;
  }
}
