.promoBar {
  background-color: ##f5f1e9;
  color: #2e1f1e;
  text-align: center;
  padding: 4px;
  font-size: 1rem;
  position: fixed;
  top: 0;
  height: 4.1dvh;
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textContainer {
  margin: auto;
}
.promoBar a {
  color: #5f6432;
  text-decoration: underline;
}
